.main-container {
  @extend %align-center-column;  //placeholder selector starts with %
  width: 100vw;
  height: 70vh;
}
.login-container {
  background-color: $primary_2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 20px;
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 70%;
  }
  @extend %align-center-column; 
  &_header {
    // font-size: $font;   //@function
    font-weight: 600;
    color: #fff;
  }
}
.login-container-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  gap: 1.5rem;
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  &_input {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    background-color: $background;
    border: 1px solid transparent;

    &:focus {
      border: 2px solid $primary_3;
    }
  }
  //hover is nested in the button
  #{&}_button {
    background-color: #{$primary_3};   //interpolation on a variable is called custom properties in the sass
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}
