@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&display=swap");
.navbar {
  padding: 1rem;
  border-bottom: 1px solid #36312d;
}
.navbar_header {
  font-weight: 600;
  color: #fff;
}
.navbar_header:hover {
  cursor: pointer;
}
.navbar_header a {
  text-decoration: none;
  color: #fff;
}
.navbar_button {
  background-color: #da7c18;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}
.navbar_button:hover {
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.search-container form {
  display: flex;
  gap: 0.5rem;
}
.search-container form input[type=search] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}
.search-container form button {
  padding: 0.5rem 1rem;
  background-color: #5b412f;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.search-container form button:hover {
  background-color: #39291e;
}

.container {
  background-color: #da7c18;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 80vw;
  color: #fff;
  border-radius: 0.5rem;
  height: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(255, 191, 81, 0.2);
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 90vw;
    margin: 2rem auto;
  }
}
.container_header {
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}
.container_bubble1 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 1rem;
  position: absolute;
  height: 100px;
  width: 100px;
  top: -20px;
  left: -20px;
}
.container_bubble2 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 1rem;
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: -20px;
  right: -20px;
}

.outfit {
  margin: 0 2rem;
}
.outfit_header {
  font-weight: 600;
  color: #fff;
}
.outfit_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}
@media screen and (max-width: 768px) {
  .outfit_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.outfit_container_element {
  background-color: #000000;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
.outfit_container_element img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}
.outfit_container_element h3 {
  font-weight: 300;
}
.outfit_container_element p {
  font-weight: 300;
}

.footer {
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  border-top: 1px solid #2d2e36;
  margin-top: 4rem;
}

.subscribe {
  padding: 1rem;
  margin: 4rem auto;
  max-width: 80vw;
  color: #636b73;
  border-radius: 20px;
  background-color: #da7c18;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 14vw;
  text-align: center;
}
.subscribe_header {
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
}
.subscribe_form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .subscribe_form {
    flex-direction: column;
    align-items: center;
  }
}
.subscribe_form_input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  margin: 0;
  outline: none;
  width: auto;
}
.subscribe_form_input:hover {
  cursor: pointer;
}
.subscribe_form_button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  width: auto;
}
.subscribe_form_button:hover {
  cursor: pointer;
  background-color: #955510;
}

.main-container {
  width: 100vw;
  height: 70vh;
}

.login-container {
  background-color: #da7c18;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 20px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .login-container {
    width: 70%;
  }
}
.login-container_header {
  font-weight: 600;
  color: #fff;
}

.login-container-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  gap: 1.5rem;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .login-container-form {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
.login-container-form_input {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  background-color: #282a2f;
  border: 1px solid transparent;
}
.login-container-form_input:focus {
  border: 2px solid #7394b0;
}
.login-container-form .login-container-form_button {
  background-color: #7394b0;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}
.login-container-form .login-container-form_button:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #282a2f;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container, .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}